:root {
  --rootcolor :  #F8F8F8;
  --bgcolorComponent : #fffff;
  --maincolorText : #2752C4;
  --secondaryColorText : #1c3169
  --semilightColorText : #A0A3AC;
  --borderColor : #EAE9EE
}

*{
  padding:0;margin: 0;clear: both;box-sizing: border-box;
}
button {
  outline : 0px;
  border: 0px;
}
body {
  background-color: var(--rootcolor);
  padding:0;
  margin:auto;
  min-height: 100vh;
  font-size: 16px;
  color: var(--secondaryColorText);
  height: 1200px;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  text-align: justify;
}

h1{
  font-size: 2.3rem;
  color: var(--secondaryColorText) ;
}

#titleWho {
  margin-left: -40px;
  display: inline-block;
}

#MenuFooter span{
  font-size: 14px;
  color: #1c3169;
}

@media screen and (max-width:884px) {
  .mainContent{
    align-items: start;

  }
  #image-content img {
    transform: scale(0.6) translateX(-10rem);

  }
  #titleOurProduct {
    padding: 0 1rem;
  }
  #our-product-card{
  align-items:center;
    gap:.5rem;margin:2.5rem 0rem;display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #menu {
    position: absolute;
    top: 84px;
    left: 89px;
    display: inline-block;
  }

  #card {
    width: 320px;
    margin: 0;
  }
  #spanComponent {
    width: 100%;font-size: 13px;line-height: 1.3;letter-spacing: 0.033em;
  
  }

  #Footer{
    padding: 5rem 4rem 10rem 4rem;
    align-items: start;
    gap:3rem;
    grid-auto-flow: column;
  }
}

#paragrafMainContent {
  text-align: justify;
}

/* Mobile Responsive */
@media screen and (max-width:688px) {
  body {
    overflow: inherit;
  }

  #table {
    width: 100vw; padding: 16px;overflow-x: auto;
  }
  #navigasi {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1.5rem .5rem;position: relative;
  }
  #title-menuNav{
    order: 2;
    justify-content:center ;
    margin: 1.3rem 0 1.3rem 0;
  }
  #call-log-reg{
    order: 1;
    justify-content:center ;
    padding-right:1rem ;

  }
 #listMenu{
  margin-left: .2rem;
  
 }

 #menu {
  position: inherit;
 }

 #main-content {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem 0;
}
#content {
 text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}
#content h1 {
  width: 100% !important;
  font-size: 1.7rem !important;
  text-transform: uppercase;
  padding: 12px; text-align: center;
}
#paragrafMainContent {
  text-align: center;
}
#image-content{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  height: 289px;
  margin: 1rem 0;
  width: 100%;
}
#image-content img {
  transform: scale(0.5) translateX(0rem);

}

#titleOurProduct {
  padding: 0 0rem;
  text-align: center;
}
#our-product-card{
  flex-direction: column; align-items:center;
  gap:1rem;margin:1.5rem 0rem;display: flex;
}

#card {
  width: 320px;
}
#twoColumn {
  flex-direction: column;
  align-content: center;
}

#spanComponent1,#spanComponent2 {
  width: 100%;font-size: 13px;line-height: 1.3;letter-spacing: 0.033em;

}
#spanComponent1 {
  padding-left: 7px;
}

#oneColumnContent{
  border-right:none;
  margin-left: 10px;
  padding: 2rem;
}


#who-we-are {
  padding: 3rem 1rem 6rem 1rem;
  display: flex;
  margin: 3rem 0;
  background-image:url('./assests/financial-undraw.svg');
  background-repeat: no-repeat;
  background-size: calc(180px - 2%);
  background-position: calc(18% - 2em) 200px;
  height:400px ;
}

#titleWho {
  font-size: 1.7rem;
}

#descriptionWho {
  line-height: 26px;
  word-spacing: 0px;
  font-size: .8rem;
}

#Footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem 1.5rem 10rem 1.5rem;
  align-items: start;
  gap:2rem
}

#CopyRightFooter {
  order: 1;
}

#MenuFooter {
  order: 3;
  padding:0 12px ;
}

#ContactUsFooter {
  order: 2;
  margin-top: 2rem;
}
}

@media screen and (max-width:320px) {
  #title-menuNav{
    order: 2;
    justify-content:center ;
    margin: 1.3rem 0 1.3rem 0;
    display: flex;flex-direction: column;
  }
  #Footer{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem 6rem 1.5rem;
    gap:2rem
  }

  #CopyRightFooter {
    order: 2;
  }
  
  #MenuFooter {
    order: 1;
    padding:0 12px ;
  }
  
  #ContactUsFooter {
    order: 3;
    margin-top: 2rem;
  }
}