:root {
  --rootcolor :  #F8F8F8;
  --bgcolorComponent : #fffff;
  --maincolorText : #2752C4;
  --secondaryColorText : #1c3169
  --semilightColorText : #A0A3AC;
  --borderColor : #EAE9EE
}

*{
  padding:0;margin: 0;clear: both;box-sizing: border-box;
}
button {
  outline : 0px;
  border: 0px;
}
body {
  background-color: var(--rootcolor);
  padding:0;
  margin:auto;
  min-height: 100vh;
  font-size: 16px;
  color: var(--secondaryColorText);
  height: 1200px;
}

p {
  font-size: 1rem;
}

h1{
  font-size: 2.3rem;
  color: var(--secondaryColorText) ;
}

