/* :root {
    --rootcolor :  #F8F8F8;
    --bgcolorComponent : #fffff;
    --maincolorText : #2752C4;
    --secondaryColorText : #182957;
    --semilightColorText : #BFC0C8;
    --borderColor : #EAE9EE
  } */

.h1 {
  color: #1c3169;
  font-size: 2.3rem;line-height: 1.1;letter-spacing: -0.049em;font-weight: 500;font-style: normal;

}

.h2 {
  font-size: 1.4rem;
}

.h5 {
  font-size: 0.7rem;
  font-style: italic;
  opacity: 0.8;
}
.p {
  font-size:.8rem ;
  color:#999
}
/* Navigasi */
.navigasi {
  background-color: #fff;
  padding: 1.5rem 6rem;
  border-bottom: #eaeaea 1px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  position: sticky;
  top: 0;
  z-index: 50;

}


.arrowMobile {
  padding: 5px .5rem 5px .5rem;
  color: #2752c4;
}

.arrowMobile:hover,.arrowMobile:focus,.arrowMobile:active {
  opacity: 0.8;

}




.titlemenuNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 1.7rem;
  color: #2752c4;
  font-weight: bolder;
  letter-spacing: -1px;
  text-shadow: 1px 2px #eee;;
}

.listMenu {
  margin-left: 2rem;
  transition: ease-in-out .2s;
}

.menu {
  margin: 0 0.5rem;
}

.CallLogReg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.callUs {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.btnRegister {
  border: solid 1px #2752c4;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #2752c4;
  margin-right: 5px;
  border-radius: 2px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}
.btnLogin {
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #2752c4;
  color: #ffffff;
  border-radius: 2px;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  border: solid 1px #2752c4;

}
.btnLogin:hover {
  background-color: #1c3169;
}
/* Main Content */

.mainContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  padding: 1rem 6rem;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eae9ee;
}

.imgcontent {
  transform: scale(0.8);
}

.btnLearnMore{
  text-align: center;
  padding: .5rem 1rem;
  background-color: #2752c4;
  color: #ffffff;
  border-radius: 2px;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 12px;line-height: 1.4;letter-spacing: 0.024em;font-weight: 700;font-style: normal
  
}
.btnLearnMore:hover {
  background-color: #1c3169;
  color: #fff;
}
/* OurProducts */

.ourProduct {
  padding: 1.5rem 6rem;
  margin: 3.5rem 0;
}
.ourProductCard {
  display: flex;
  justify-content: center;
  gap:1rem;margin:1.5rem 1rem;

}
.card {
  border: solid 1px #eae9ee;
  box-shadow: 0px 0px 1px 0px #eee;
  background-color: #fff;
  margin-top: 1.5rem;
  width: 300px;
  padding:0 0 .7rem 0 ;
  border-radius: 3px;
}

.contentCard {
  padding: 1rem 2rem
}

.titleOurProduct {
  font-size: 2.3rem;line-height: 1.1;letter-spacing: -0.049em;font-weight: 500;font-style: normal;

}

/* Two Column */

.twoColumn {
  display: flex;
  flex-direction: row;
  justify-items: center;
  background-color: #fff;
  border:solid 1px #EAE9EE;
  border-left:none;border-right: none;
  justify-content: center;
}

.oneColumnContent,.twoColumnContent{
  display: flex;
  padding: 3rem 4rem;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 13px;
  color: #1c3169;
}

.oneColumnContent{
  border-right: 1px solid #EAE9EE;
}

.spanComponent {
  width: 70%;font-size: 16px;line-height: 1.3;letter-spacing: 0.033em;

}

/* Who We Are */
.WhoWeAre {
  padding: 3rem 4rem 6rem 3rem;
  display: flex;
  margin: 3rem 0;
  background-image:url('./assests/financial-undraw.svg');
  background-repeat: no-repeat;
  background-size: calc(500px - 10em);
  background-position: 8% 200px;
  height:500px ;

}

.leftWho,.rightWho {
  width: 50%;
}
.leftWho {
  text-align: center;
}

.descriptionWho {
  letter-spacing: -0.025em;font-weight: 400;line-height: 2;font-size: 0.9rem;  color: #A0A3AC;
  text-align: justify;width: 85%;
}

.learnMoreWho {
  border: solid 1px #2752c4;
  text-align: center;
  padding: 0.6rem 1rem;
  background-color: transparent;
  color: #2752c4;
  margin-right: 5px;
  border-radius: 2px;
  font-weight: 700;
  cursor: pointer;
  font-size: .8rem;font-weight: 500;letter-spacing: 0.019em;line-height: 0.9;font-style: normal;
  margin-top: 2rem;
}

/* Try Product */
.tryProduct{
  padding:3rem 1rem;
  border-top:solid 1px #EAE9EE;
  border-bottom: solid 0px #eae9ee;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titleTry {
  font-size: 1.5rem;
  color: #1c3169;
  font-weight: 600;

}

/* Fotoer */

.Footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5rem 16rem 10rem 16rem;
  align-items: center;
  gap:6rem;
  border-top: 1px #eae9ee solid;
}


.LogoFooter{
  display: flex;
  gap:10px;
  flex-direction: row;
  margin-top: 3rem;
}

.MenuFooter {
  display: flex;
  gap:16px;
  flex-direction: column;
  
}

.TitleContactUsFooter{
  font-size: 16px;
  color: #1c3169;

}