/* :root {
    --rootcolor :  #F8F8F8;
    --bgcolorComponent : #fffff;
    --maincolorText : #2752C4;
    --secondaryColorText : #182957;
    --semilightColorText : #BFC0C8;
    --borderColor : #EAE9EE
  } */

.h1 {
  font-size: 2.3rem;
  color: #1c3169;
}

.h2 {
  font-size: 1.4rem;
}

.h5 {
  font-size: 0.7rem;
  font-style: italic;
  opacity: 0.8;
}
.p {
  font-size:.8rem ;
  color:#999
}
/* Navigasi */
.navigasi {
  background-color: #fff;
  padding: 1.5rem 6rem;
  border-bottom: #eaeaea 1px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  position: sticky;
  top: 0;
  z-index: 50;
}

.titlemenuNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-size: 1.7rem;
  color: #2752c4;
  font-weight: bolder;
  letter-spacing: -1px;
}

.listMenu {
  margin-left: 3rem;
}

.menu {
  margin: 0 0.5rem;
}

.CallLogReg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.callUs {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.btnRegister {
  border: solid 2px #2752c4;
  text-align: center;
  padding: 0.6rem 1rem;
  background-color: transparent;
  color: #2752c4;
  margin-right: 5px;
  border-radius: 2px;
  font-style: italic;
  font-weight: 500;
}
.btnLogin {
  border: solid 2px #2752c4;
  text-align: center;
  padding: 0.6rem 1rem;
  background-color: #2752c4;
  color: #ffffff;
  border-radius: 2px;
  font-style: italic;
  font-weight: 500;
}

/* Main Content */

.mainContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  padding: 1rem 6rem;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #eae9ee;
}

.imgcontent {
  transform: scale(0.8);
}

.btnLearnMore{
  text-align: center;
  padding: 0.6rem 1rem;
  background-color: #2752c4;
  color: #ffffff;
  border-radius: 2px;
  font-size: .9rem;
  
}

/* OurProducts */

.ourProduct {
  padding: 1.5rem 6rem;
  margin: 3.5rem 0;
  display: grid;
}
.ourProductCard {
  display: flex;
  justify-content: center;
  gap:1rem;margin:1.5rem 1rem;

}
.card {
  border: solid 1px #eae9ee;
  box-shadow: 0px 0px 1px 0px #eee;
  background-color: #fff;
  margin-top: 1.5rem;
  width: 300px;
  padding:0 0 .7rem 0 ;
  border-radius: 3px;
}

.contentCard {
  padding: 1rem 2rem
}
